@{
    ViewData["Title"] = "Colaborador";
    List<SelectListItem> selectLists = (List<SelectListItem>)ViewData["selectsEmpresa"]!;

    var userSession = System.Text.Json.JsonSerializer.Deserialize<Usuario>(Context.Session.GetString("UserAuth")!);
}

<h4>Pesquisar Colaborador</h4>

<form>
    <div class="row">
        <div class="input-field col s4">
            <select id="cd_empresa" asp-items="selectLists">
                <option value="0" selected>Todos</option>
            </select>
            <label>Empresa</label>
        </div>
        <div class="input-field col s2">
            <input id="funcionario" type="text">
            <label>Nome</label>
        </div>
        <div class="input-field col s2">
            <select id="tipoContrato">
                <option value="0" selected>Todos</option>
                <option value="1">Autônomo</option>
                <option value="2">PJ</option>
                <option value="3">PJ (MEI)</option>
                <option value="4">CLT Horista</option>
                <option value="5">CLT Temporário</option>
                <option value="6">CLT Indeterminado</option>
                <option value="7">Cooperado</option>
                <option value="8">Estrangeiro Imigrante</option>
                <option value="9">Estágiario</option>
            </select>
            <label>Tipo de Contrato</label>
        </div>
        <div class="input-field col s2">
            <select id="StatusFilter">
                <option value="" selected>Todos</option>
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
            </select>
            <label>Status</label>
        </div>
        <div class="input-field col s2" style="display:@(userSession.Perfil == AppAwm.Models.Enum.EnumPerfil.Administrador ? "" : "none")">
            <span class="new badge green" data-badge-caption="@AppAwm.Util.Utility.Cliente.PlanoVidasAtivadas vidas utilizadas de @AppAwm.Util.Utility.Cliente.PlanoVidas contratadas"></span>
        </div>
    </div>
    <div>
        <div class="col s12">
            <a class="waves-effect waves-light btn-small" id="btnSearch"><i class="material-icons left">search</i>Pesquisar</a>
            <a class="waves-effect waves-light btn-small" id="btnClear"><i class="material-icons left">clear</i>Limpar</a>
            <a asp-controller="Colaborador" asp-action="Create" class="waves-effect waves-light btn-small"><i class="material-icons left small">add</i>Novo Colaborador</a>
            <a class="right tooltipped waves-effect waves-light btn-small dropdown-trigger purple darken-3" data-position="top" data-tooltip="Importação de colaboradores em lote para o sistema" href='#' data-target='dropdown1' data-position="left" data-tooltip="Baixar arquivo"><i class="material-icons left">cloud_upload</i>Importação de colaboradores</a>

            <ul id='dropdown1' class='dropdown-content'>
                <li><a id="baixarModeloexcel"><i class="material-icons">vertical_align_bottom</i>Baixar modelo de planilha</a></li>
                <li><a href="#!" id="btnImportaColaboradores" data-cd_empresa="@userSession.Empresa.Cd_Empresa"><i class="material-icons">settings</i>Importar colaboradores</a></li>
                <li><a><i class="material-icons">keyboard_return</i>Voltar</a></li>
            </ul>
        </div>
    </div>
</form>
<hr>
    <input type="hidden" id="scope" name="scope" />
    <input type="hidden" id="codigoColaborador" name="codigoColaborador" />
    <input type="hidden" id="documento" name="documento" />
    <input type="hidden" id="codigoEmpresa" name="codigoEmpresa" />
    <input type="hidden" id="codigoCargo" name="codigoCargo" />
    <input type="hidden" id="isIntegrado" name="isIntegrado" />
    

<!-- Modal Anexo Colaborador documentos opcionais -->
<div id="modalAnexoFuncionario" class="modal modal-fixed-footer">
    <form method="post" enctype="multipart/form-data" id="frmAnexo">
        <div class="modal-content">
            <div id="titulo"></div><hr />
            <div class="row">
                <div class="file-field input-field col s8">
                    <div class="btn">
                        <span>Localizar</span>
                        <input type="file" class="btn-small" accept="application/pdf" name="files" id="files" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Adicionar arquivos">
                    </div>
                </div>
                <div class="input-field col s4">
                    <input id="descricao" type="text" maxlength="100">
                    <label for="Descricao">Descriçao</label>
                </div>
            </div>

            <div id="DivRecordAnexo"></div>
        </div>
        <div class="modal-footer alert-info">
            <span class="new badge left" data-badge-caption="Anexo de documentos pessoais, até 10 anexos permitidos">Formulário:</span>
            <a id="btnCloseModaAnexoComum" class="modal-close waves-effect waves-teal btn-flat">fechar</a>
            <button type="button" id="enviarAnexo" class="btn waves-effect waves-light">salvar</button>
        </div>
    </form>
</div>

<!-- Modal Anexo colaborador documentos obrigatórios -->
<div id="modalAnexoColaborador" class="modal modal-fixed-footer">
    <input type="hidden" id="listaTipoDocumento" name="isIntegrado" />
    <form method="post" enctype="multipart/form-data" id="frmDocumentoColaborador">
        <div class="modal-content">
            <div id="rotulo"></div><hr/>
            <div class="row">
                <div class="file-field input-field col s3">
                    <div class="btn">
                        <span>Localizar</span>
                        <input type="file" class="btn-small" accept="application/pdf" name="filesColaborador" id="filesColaborador">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Adicionar arquivos">
                    </div>
                </div>
                <div class="input-field col s2">
                    <input id="dataValidade" type="date">
                    <label>Data de Validade</label>
                </div>
                <div class="input-field col s4">
                    <select id="tipoAnexo">
                        <option value="0" disabled selected>Selecione</option>
                    </select>
                    <label>Tipo do documento</label>
                </div>
                <div class="input-field  col s2">
                    <input id="descricaoColaborador" type="text" maxlength="100">
                    <label for="Descricao">Descrição</label>
                </div>
                <div class="col s1 right-align" style="margin-top:30px;">
@*                     <a data-position="left" data-tooltip="Tipo de documento ou descrição" onclick="javascript:pesquisarAnexo();" class="waves-effect waves-light tooltipped btn-small">
                        <i class="material-icons center">search</i></a> *@
                    <button type="reset" data-position="button" data-tooltip="Limpar Formulario" class="waves-effect waves-light tooltipped btn-small red darken-4">
                        <i class="material-icons center">clear</i>
                    </button>
                </div>
            </div>
            <div id="DivRecordAnexoColaborador"></div>
        </div>
        <div class="modal-footer alert-info">
            <span class="new badge left" data-badge-caption="Requerimento de documentação ténica de colaborador">Formulário:</span>
            <a id="btnCloseModaDocumentoObrigatorio" class="modal-close waves-effect waves-teal btn-flat">fechar</a>
            <button type="button" id="enviarAnexoColaborador" class="btn waves-effect waves-light">salvar</button>
        </div>
    </form>
</div>


<!-- Modal importar excel Colaborador -->
<div id="modalImportarColaborador" class="modal" style="height:350px; width:100px !important;">
    <form method="post" enctype="multipart/form-data" id="frmImportarColaborador">
        <div class="modal-content">
            <div class="row" id="titulo"></div>
            <div class="row">
                <div class="file-field input-field col s8">
                    <div class="btn">
                        <span>Localizar</span>
                        <input type="file"  class="btn-small" accept="application/xls" name="files" id="files" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Adicionar arquivos">
                    </div>
                </div>
                <div class="input-field col s4">
                    <button type="button" id="enviarAnexo" class="btn waves-effect waves-light">Iniciar importação</button>
                    <a id="btnCloseModa" class="modal-close waves-effect waves-teal btn-flat">fechar</a>
                </div>
            </div>

        </div>
    </form>
</div>

<footer id="DivRenderData" style="display:none;">
    <partial name="ListRecord" />
</footer>

<script src="~/js/anexo/anexo.js"></script>
<script src="~/js/colaborador/colaborador.js"></script>
<script>
  $('input[id="cpf"]').mask('000.000.000-00');
</script>