@{
    ViewData["Title"] = "Documentação";
    List<SelectListItem> selectLists = (List<SelectListItem>)ViewData["selectsEmpresa"]!;
}

<h4 id="tituloPagina">Pesquisa por Empresa</h4>
<input type="hidden" id="cd_documentoComplementar_id" />
<form>
    <div class="row">
        <div class="input-field col s9">
            <input id="nome" type="text">
            <label id="titlePesquisa">Empresa</label>
        </div>

        <div class="input-field col s3">
            <select id="tipoDocumento">
                <option value="2">Empresa</option>
                <option value="1">Cargo/Função</option>
            </select>
            <label>Documentção por</label>
        </div>
    </div>
    <div>
        <div class="col s12">
            <a class="waves-effect waves-light btn-small" id="btnSearch"><i class="material-icons left">search</i>Pesquisar</a>
            <a class="waves-effect waves-light btn-small" id="btnClear"><i class="material-icons left">clear</i>Limpar</a>
        </div>
    </div>
</form>
<hr>
<footer id="DivRenderData" style="display:none;"></footer>

<!-- Modal Abrir tipo documento  -->
<div id="modalDocumentoTipoDocumento" class="modal modal-fixed-footer">
    <input type="hidden" id="codigoCargo" />
    <input type="hidden" id="codigoEmpresa"/>
        <div class="modal-content">
            <div class="right-align" id="titulo"></div>
            <div class="row" style="margin-bottom: -5px !important">
                <div id="modalCd_Empresa" class="input-field col s6" style="display:none;">
                    <select id="cd_empresa" asp-items="selectLists"></select>
                    <label>Documentção por Empresa</label>
                </div>
                <div id="titleTipo" class="col s6 left-align" style="margin-top:15px;"></div>
            </div>
            <div id="DivRecordDocumentoComplementar"></div>
        </div>
        <div class="modal-footer alert-info">
            <span class="new badge left" data-badge-caption="Associar funções com tipo de documentação">Formulário:</span>
        <a id="btnCloseModaDdocumentCargo" class="modal-close btn waves-effect waves-light red darken-4 ">fechar</a>
        </div>
</div>

<script src="~/js/documentacao/documentacao.js"></script>