@model AppAwm.Models.Usuario
@{
    ViewData["Title"] = "Home Page";

    var userSession = System.Text.Json.JsonSerializer.Deserialize<Usuario>(Context.Session.GetString("UserAuth")!);
    string titulo, perfil;

    titulo = perfil = string.Empty;

    if (userSession != null)
    {
        titulo = userSession.Perfil == AppAwm.Models.Enum.EnumPerfil.Administrador ? " Cenário de documentação de empresas" : userSession.Empresa!.Nome!;
        perfil = userSession.Perfil.ToString().ToLower();
    }

}
<div class="row">
    <div class="col s12 blue-grey-text accent-4 center-align" style="font-size:18px; padding:5px;">
        O HDDOC disponibiliza alguns vídeos para lhe orientar durante o processo de operação, você também poderá acessar o menu posicionado no campo superior esquerdo da tela
        <hr />
    </div>
</div>
<br>

@if (!Model.MudarSenha)
{
    <div class="row">
        <div class="col s5 offset-s1">
            <h5 id="charTituloColaborador" style="display:none;">Cenário de documentação dos colaboradores </h5>
        </div>
            <div class="col s5 offset-s1">
            <h5 id="charTituloEmpresa" style="display:none;"> @titulo </h5>
            </div>
    </div>
    <div class="row">
            <div class="col s6 center">
            <canvas id="homeChartColaborador" style="max-width:600px; max-height:600px; width:600px; height:450px;"></canvas>
            </div>
            <div class="col s6 center">
                <canvas id="homeChartEmpresa" style="max-width:600px; max-height:600px; width:600px; height:450px;"></canvas>
            </div>
    </div>
}

<!-- Modal Structure -->
<div id="modalMudarSenha" class="modal">
    <div class="modal-content">
        <h5>Alterar senha temporária de @Model.Nome</h5>
        <hr />
        <br>
        <div class="row">
            <form id="frmMudarSenha" asp-controller="Start" asp-action="changePassword" class="col s12">
                <input asp-for="Cd_Usuario" type="hidden" value="@Model.Cd_Usuario" />
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">https</i>
                        <input asp-for="Senha" id="password" type="password" placeholder=" ">
                        <label asp-for="Senha">Nova senha</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">https</i>
                        <input asp-for="ConfirmPassword" id="confirmPassword" type="password" placeholder=" ">
                        <label asp-for="ConfirmPassword">Confirmar senha</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a asp-controller="Start" asp-action="Logout" class="waves-effect waves-green btn purple">
            <i class="material-icons left">reply</i>sair
        </a>
        <button id="btnLimpar" class="waves-effect waves-green btn">
            <i class="material-icons left">clear</i>Limpar
        </button>
        <button id="btnMudarSenha" class="waves-effect waves-green btn">
            <i class="material-icons left">edit</i>Alterar senha
        </button>



    </div>
</div>

<script src="~/js/chart/chart.umd.js"></script>
<script src="~/js/home/home.js"></script>

<script>
    var isMudarSenha = Boolean(@(Convert.ToInt16(Model.MudarSenha)));
    
    if (isMudarSenha)
        setTimeout(() => { $('#modalMudarSenha').modal({ dismissible: false }).modal('open'); }, 500);

    $('#btnMudarSenha').on('click', () => {

        if ($('#password').val() == '' ||  $('#confirmPassword').val() == '') {
            M.toast({ html: '<i class="material-icons white-text">report</i>&nbsp;Informe as senhas nos campos!', classes: 'red darken-3 rounded' });
            return;
        }

        if ($('#password').val() != $('#confirmPassword').val()) {
            M.toast({ html: '<i class="material-icons white-text">report</i>&nbsp;Existem digergências nas senhas informada!', classes: 'red darken-3 rounded' });
            return;
        }

        loading(true)

        var frm = $('#frmMudarSenha').serialize();

        $.ajax({
            type: 'POST',
            url: '/Start/changePassword',
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: frm
        })
            .done(function (data) {

                loading(false);

                $('#modalMudarSenha').modal({ dismissible: false }).modal('close');

                let clss = data.success == true ? 'blue' : 'red';

                M.toast({ html: `<i class="material-icons white-text">check_circle</i>&nbsp - ${ data.message}`, classes: `${clss} darken-2 rounded`});

                setTimeout(() => { window.location.href = '/Start/Logout'; }, 2000);
            })
            .fail(function (data) {

                loading(false);

                $('#modalMudarSenha').modal({ dismissible: false }).modal('close');

                M.toast({html: '<i class="material-icons white-text">cancel</i>&nbsp - ' + data.message, classes: 'red darken-2 rounded'});
            });

    });
    
    $('#btnLimpar').on('click', () => { 
         $('#password').val('');
         $('#confirmPassword').val('');
         $('#password').trigger('focus')
    });

    if(!isMudarSenha)
    {
         loading(true);
         setTimeout(() => { 
            grafico(1,'@perfil');
            grafico(2, '@perfil');
            loading(false);
         },1000);
    }

</script>